<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.html') %>

    <body>

        <%- include('./partials/nav.html') %>

        <h1>404-ERROR</h1>
        <p>Page not found!!!</p>
    </body>

</html>