<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.html') %>

    <body>

        <%- include('./partials/nav.html') %>

            <div class="hero">
                <h1>About this project</h1>
                <div class="seperator"></div>
                <p>This is a blog posting weebsite that fetches requests from mongodb-atlas. Using the 'Get' and 'Post' methods we request and send the desired blogs to the database </p>
            </div>
    </body>

</html>